@{
    ViewBag.Title = "Schedule Vehicle";
}
<link href="~/Content/css/multi-select.css" rel="stylesheet" />
<link href="~/Content/select2/select2.css" rel="stylesheet" />
<link href="~/Content/select2/select2-bootstrap.css" rel="stylesheet" />

<script src="~/Content/select2/select2.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<link href="~/css/elusive/css/timepiker.css" rel="stylesheet" />

<style>
 /*table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }*/

 .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        width: 100px !important;
    }

    .button1 {
        background-color: #8e9d13; /* Green */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .button2 {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

        .button2:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }

    .button1:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
</style>

<div class="row-fluid">
    <div class="widget-body ">
        <div class="main_container" id="tables_page">
            <div class="row-fluid" style="margin-bottom: 25px;">
                <div class="widget-body" style="border: 0">
                    <div class="row-fluid">
                        <div id="alerts" class="widget span12">
                            <div class="widget-header">
                                <i class="fa fa-file-archive-o"></i>
                                <h5 id="statusText">@ViewBag.Title</h5>

                            </div>
                            <div class="row-fluid" style="margin-bottom: 12px; margin-top: -37px;">
                                <div class="widget-body" style="border: 0">
                                    <div class="row-fluid">
                                        <div id="alertss" class="widget span12">
                                            <div class="widget-body  " style="background: #fff; overflow-x: auto">
                                                <div id="DivVehcleCounter">
                                                    <div class="box-content padded span7">
                                                        <div class="row">
                                                            <form id="ddpoi" method="post">
                                                                <div class="form-group">
                                                                    <label class="control-label col-sm-4">&nbsp;&nbsp;&nbsp;&nbsp;Vehicle Name : </label>
                                                                    <div class="col-sm-6">


                                                                        <div style="width: 400px">
                                                                            <select class="form-control select2" id="ddlVehicleList" multiple></select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <br />
                                                                <br />
                                                              
                                                                <br />
                                                                <br />
                                                                <br />
                                                                <div class="form-group">
                                                                    <label class="control-label col-sm-4">&nbsp;&nbsp;&nbsp;&nbsp;Route Name :</label>


                                                                    <div class="col-sm-6">
                                                                        <div class="pull-left">
                                                                            <input class="col-sm-8" type="text" id="routename" placeholder="Name of the  route" name="Assign the route to vehicle">
                                                                        </div>




                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <br />
                                                                <br />
                                                                <a href="/Common/ADDPOI" target="_blank"><h4>  <b style="margin-left:320px;">Want to Add POI?</b></h4> </a>  
                                                                <br />
                                                                <div class="form-group">
                                                                    <label class="control-label col-sm-4"> &nbsp;&nbsp;&nbsp;&nbsp; Assign   POI's :</label>


                                                                    <div class="col-sm-6">


                                                                        <div id="main">



                                                                            <img src="~/img/logo/plus.png" id="btAdd" class="bt" style="height:24px;" />
                                                                            <img src="~/img/logo/x-button.png" class="bt" id="btRemove" style="height: 24px; " />

                                                                            <img src="~/img/logo/delete.png" class="bt" id="btRemoveAll" style="height: 24px; " />

                                                                        </div>

                                                                    </div>
                                                                </div>



                                                                <br />
                                                                <br />
                                                                <br />
                                                                <br />
                                                                <div class="form-group">
                                                                    <label class="control-label col-sm-4"> </label>


                                                                    <div class="col-sm-6">
                                                                        <input type="submit" class="btn btn-submit btn btn-green" value="Submit" />
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        
                                                        @*<div class="row" style="    margin-left: 835px; margin-top: -339px;">

                                                           POI Name: <input type="text" name="POIName" id="POIName" style="width:136px;" /> 
                                                           

                                                           Latitude:  <input type="text" name="lat" id="lat" style="width:136px;" /> 

                                                            Longitude:  <input type="text" name="longi" id="longi" style="width:136px;" />
                                                            Mobile No:  <input type="text" name="POIMob" id="POIMob" style="width:136px;" />

                                                            <input type="button" id="btnsumbit" value="submit" />
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div>
                                               

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--/widget-body-->
                </div>
            </div>


            <div class="row-fluid">
               
                    <div id="alertss" class="widget span12">
                        <div class="widget-body clearfix" style="background: #fff;">
                            <div id="DivVehcleCounter1">
                                <div class="box-content padded">

                                    <a href="/settings/alertsetting" target="_blank"><h4>  <b>Set SMS Timing on Route</b></h4> </a>      

                                    <div class="col-md-12" style="overflow: auto;">


                                        <table id="dt_basic_Master" class="table table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th style="display:none;">
                                                        ID
                                                    </th>
                                                    <th>
                                                      POI Name
                                                    </th>
                                                    <th>
                                                      latitude
                                                    </th>
                                                    <th>
                                                      longitude
                                                    </th>
                                                    <th>
                                                        Mobile No
                                                    <th>
                                                        Added On
                                                    </th>
                                               
                                                    <th>
                                                       Action
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>

                                     

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
             
            </div>
            </div>
        </div>
    </div>

    @section scripts{
    @*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&client=gme-nucleusmicrosystems&channel=trackmaster.in" language="javascript" type="text/javascript"></script>*@

        <script type="text/javascript" src="@Url.Content("~/scripts/app/common.js?")"@DateTime.Now.Ticks></script>
         <script src="~/Content/js/APIURL.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/ScheduleService.js")"@DateTime.Now.Ticks></script>
    }
