@{
    ViewBag.Title = "MIS Report";
}
<script src="~/Content/Alertify/sweetalert.min.js"></script>
<link href="~/Content/Alertify/sweetalert.css" rel="stylesheet" />
<div class="row-fluid">
    <div class="widget-body ">
        <div class="main_container" id="tables_page">

            @Html.Action("_partialroute", "CustomReport", new { reportTitle = @ViewBag.Title })
            <br />
            <div class="row-fluid" style="margin-bottom: 12px; margin-top: -37px;">
                <div class="widget-body" style="border: 0">
                    <div class="row-fluid">
                        <div id="alertss" class="widget span12">
                            <div class="widget-body clearfix" style="background: #fff; overflow-x: auto">
                                <div id="DivVehcleCounter">
                                    <div class="box-content padded">
                                        <table id="dt_basic_Master" class="table table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="hidden">BBID</th>
                                                    <th class="hidden">KM</th>
                                                    <th class="hidden">Hour</th>
                                                    <th class="hidden">TripNumber</th>
                                                    
                                                    
                                                    <th>Details</th>
                                                    <th>Trip Number</th>
                                                    <th>Vehicle Load Capacity </th>
                                                    <th>Vehicle Number</th>
                                                    <th>Trip Name </th>
                                                    <th>Driver Name</th>
                                                    <th>Trip Start Location</th>
                                                    <th>Trip End Location</th>
                                                    <th>Trip ETT(HH:MM:SS)</th>
                                                    <th>Trip Start Date & Time</th>
                                                    <th>Trip End Date & Time</th>
                                                    <th>Trip Duration(dd:HH:MM:SS)</th>
                                                    <th>Trip DeviationTime(dd:HH:MM:SS) </th>
                                                    <th>KM Travel From GPS</th>
                                                   @* <th>KM Travel From Odometer</th>*@
                                                    <th>Weight-OUT (Kg)</th>
                                                    <th>Weight-IN (Kg )</th>
                                                    <th>Under/Over Weight</th>
                                                    <th>Vehicle Avg. as per GPS</th>
                                                    <th>Vehicle Avg. as per manual odometer entry</th>
                                                    <th>Toll Charges of Trip</th>
                                                    <th>Driver Salary Per Month</th>
                                                    <th>Fuel Used (ltr) from Fuel Sensor</th>
                                                    <th>Fuel Rate Per Ltr (INR)</th>
                                                    <th>Total Fuel expense (INR)</th>
                                                    <th>Misc Cost Per Trip</th>
                                                    <th>Toll Charges/KM</th>
                                                    <th>Total Fuel expense Per Km</th>
                                                    <th>Tyre Cost Per Km</th>
                                                    <th>Insu. Cost/km</th>
                                                    <th>Taxes /km</th>
                                                    <th>Service/Maint. Cost Per km</th>
                                                   
                                                    <th>Misc Cost Per Km</th>
                                                    <th>Total Cost</th>
                                                    <th>Total Cost /Km</th>
                                                    <th>Driver salary/KM </th>
                                                    <th>Total Cost Per Kg</th>
                                                    <th>Ideal Cost Per Kg</th>
                                                    <th>Trip Status</th>
                                                </tr>




                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/widget-body-->
            </div>
        </div>
    </div>
</div>

@section css{
    <style>
        .col-md-2 {
            width: 15.6%;
            margin-left: 6px;
            background: #fff;
            text-align: left;
        }

        .box {
            background: #dddcdc none repeat scroll 0 0;
            border: 0px solid #cdcdcd;
            border-radius: 3px;
            box-shadow: none;
            margin-bottom: 5px;
        }
    </style>
}

@section scripts{

    <script src="~/Scripts/app/common.js" @DateTime.Now.Ticks></script>
    <script>

        $(document).ready(

    function () {


        var baseurl = apiBase.apiurl;
        //var baseurl = '@System.Configuration.ConfigurationManager.AppSettings["apibaseurl"]';
        var url = baseurl + 'CustomAPI/GetRoute?type=1';
        console.log('calling url: ' + url + ' to get vehicles list.');
        $.ajax({
            url: url,
            dataType: "json",
            type: "GET",
            data: { custid: $custid },
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',    //replace /json to the urlenoded
            async: false,
            success: function (data) {

                var $select = $('#routelist');
                $('#routelist').append($('<option></option>').val(0).html("Select Route"));

                $.each(data, function (i, item) {
                    $('#routelist').append($('<option></option>').val(item.Value).html(item.Text));

                });
            }
        });
        $("#routelist").select2();

    });

    </script>
    <script src="~/Scripts/app/routewithvehicledetails.js" @DateTime.Now.Ticks></script>



}



