<div class="row-fluid">
    <div class="widget-body ">
        <div class="main_container" id="tables_page">
            <div class="row-fluid" style="margin-bottom: 25px;">
                <div class="widget-body" style="border: 0">
                    <div class="row-fluid">
                        <div id="alerts" class="widget span12">
                            <div class="widget-header">
                                <i class="fa fa-file-archive-o"></i>
                                <h5>Manage Routes</h5>
                                <div class="btn-group btn-adjst">
                                    <input type="button" value="Add" onclick="addRoute()" class="btn btn-green" style="margin-right: 10px;">
                                    <img id="excelExport" src='/content/img/cc1.png' title="Click here to download the below results in excel form." onmouseover="this.src='/content/img/z33.png';" onmouseout="this.src='/content/img/cc1.png';" style="margin-left: 0px; WIDTH: 33PX; cursor: pointer;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/widget-body-->
            </div>
            <div class="row-fluid" style="margin-bottom: 12px; margin-top: -37px;">
                <div class="widget-body" style="border: 0">
                    <div class="row-fluid">
                        <div id="alertss" class="widget span12">
                            <div class="widget-body clearfix" style="background: #fff; overflow-x: auto">
                                <div id="DivVehcleCounter" style="padding: 15px;">
                                    <div class="box-content padded">
                                        <table id="dt_basic_Master" class="table table-bordered" width="100%">
                                            <thead>
                                                <tr>
                                                    <th hidden>id</th>
                                                    <th>S No</th>
                                                    <th>Route Name</th>
                                                    <th>Added on</th>
                                                    <th>Status</th>
                                                    <th>Route points</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog" style="z-index: 9999999 !important;display: block;height: 450px !important;background-color: transparent;border: 0;-webkit-box-shadow: none !important;box-shadow: none !important;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Access</h4>
            </div>
            <div class="modal-body">
                <form class="row g-3" style="padding: 15px 30px 30px !important;">
                    <div class="col-md-4">
                        <label for="type" class="form-label">Access Type</label>
                        <select id="type" class="form-select" style="width:100%">
                            <option selected>Choose type</option>
                            <option value="driver">Driver</option>
                            <option value="tracker">Tracker</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="bbid" class="form-label">Select Vehicle</label>
                        <select id="bbid" class="form-select">
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="valid" class="form-label">Select Validity</label>
                        <select id="valid" class="form-select">
                            <option selected>Choose days</option>
                            <option value="0">Forever</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="col-md-6">
                        <label for="mobile" class="form-label">Mobile</label>
                        <input type="tel" class="form-control" id="mobile">
                    </div>
                    <div class="col-12">
                        <button style="margin-left: 16px;" type="button" class="btn btn-primary" onclick="createaccess()">Create access</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


@section css{
    <style>
        .col-sm-2 {
            width: 15.6%;
            margin-left: 6px;
            background: #fff;
            text-align: left;
        }

        button:hover {
            background: #92a214 !important;
            color: #fff !important;
        }

        .box {
            background: #dddcdc none repeat scroll 0 0;
            border: 0px solid #cdcdcd;
            border-radius: 3px;
            box-shadow: none;
            margin-bottom: 5px;
        }

        .ui-button-icon-only .ui-icon {
            top: 0 !important;
            left: 0 !important;
        }
    </style>
}
@section scripts{
    <script>
        var reportName;
        $(document).ready(function () {
            reportName = '@ViewBag.Report';
            $(".js-example-basic").select2({});
        });
    </script>
    <!--common js file-->
    <script src="@Url.Content("~/scripts/app/common.js")" @DateTime.Now.Ticks></script>
    <script src="~/Content/js/APIURL.js"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/app/manageRoutes.js?")" @DateTime.Now.Ticks></script>
}
